<!DOCTYPE html>
<html lang="is">
<head>
    <meta charset="utf-8">
    <title>
    Verslun 
</title>
    <link rel="stylesheet" href="/static/Styles1.css">
</head>
<body>
<!–– {% block innihald %} {% endblock %} Skil ekki alveg þetta og hvernig á að bæta í körfu með þessu. ––>


    <header>
	
	
        <a href="/karfa"><img class="karfa" src="/static/images/karfa.png"></a>
    <span>( 0 )</span>  
    </header>
    <main>

    <h1>Keyptu þér orkudrykk!</h1>
    <section class="vorurdisplay">

            <div class="vara">
                <h2> Nocco </h2>
                <img src="/static/images/Nocco.jpg">
                <h2>Verð: <a href="/add/0">300 </a></h2>
            </div>

            <div class="vara">
                <h2> RedBull </h2>
                <img src="/static/images/redbull.jpeg">
                <h2>Verð: <a href="/add/1">289 </a></h2>
            </div>

            <div class="vara">
                <h2> Monster </h2>
                <img src="/static/images/monster.png">
                <h2>Verð: <a href="/add/2">499 </a></h2>
            </div>

    </section>

    </main>
</body>
</html>