<!DOCTYPE html>
<html lang="is">
    <head>
        <meta charset="utf-8">
        <title>
     innkaupakarfan
</title>
        <link rel="stylesheet" href="/static/Styles1.css">

    </head>
    <body>
        <header>
            <h1>Checkout</h1>
        </header>
        <main>

    <div class="formid">

        <h1 class="">Karfan er tóm</h1>


    <form method='post' action='result' accept-charset="UTF-8"
        <h3>Viðskiptavinur</h3>
        <label>Nafn:
            <input type="text" name='nafn' placeholder="Nafn">
        </label><br></br>
        <label>Tölvupóstfang:
            <input type="email" name='email' placeholder="Netfang">
        </label><br></br>
        <label>Símanúmer:
            <input type="text" name='simi' placeholder="1234567" title="Aðeins 7 tölustafir">
        </label>
        <input type="hidden" name='samtals' value=''><br></br>
        <input type='submit' value='Kaupa vörur'><br></br>
    </form>
    </div>
	
	
	

        </main>
        <footer>
            <h4> <a href="/"> Aftur í Búðinna  </a></h4>
        </footer>
    </body>
</html>